@model IEnumerable<aplicacaoLoja.Models.Consulta.Agrupamento.AgrVendas>

@{
    ViewData["Title"] = "Agrupamento";
}

<h1>Agrupamento de Vendas</h1>

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.clienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
        </tr>
}
    </tbody>
</table>
