@model aplicacaoLoja.Models.CompraProduto

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar</h1>
<br />
<br />
<div>
    <h4>CompraProduto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.produto.descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.qtde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.qtde)
        </dd>
    </dl>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index"><input value="Voltar" class="btn btn-primary bg-warning text-dark border-0 " style="width: 6rem" /></a>
    </form>
</div>
